/* barra de tarefas*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --azul:#527ed7;
    --preto:#1a1b1c;
    --vermelho:#d04957;
    --amarelo:#ebd348;
    --cinza:#e4e5e7;
}

body{
   
    background:url(img/textura6.png);
    font-family: 'Inter', sans-serif;
    background-size: cover;
    
}
header{
    background-color: var(--vermelho);
    
}


.logo{
    display: inline;
    width:300px;
    height:100px;
}
.logo:hover{
    transform: scale(1.01);

}

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

nav ul {
    display: flex;
}

nav ul li a {
color: black;
text-decoration: none;
font-weight: bold;
font-size:25px;
margin: 0 0 0 2em;
}

nav ul li:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

nav ul li a:hover{
     color:var(--preto);
     transition: all 0.2s;
}
/* Fim da barra de tarefas*/



.main {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    
}

.titulo{
    display: inline-block;
    font-size:33px;
    margin: 1em 0;
    background-color:var(--preto);
    width: 100%;
    text-align: center;
    color: aliceblue;
    padding:0.5em;
    border-radius:5px;
    
}
.banner{

    background: url(img/one.jpg);
    width: 100%;
    height:65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.8;
 
    
}
.conteudo{
   
    
    margin: 0 0 3em 0;
}
.conteudo p{
   
    font-size:20px;
    text-align: left;
    line-height: 1.8em;
}
h2{
    font-size: 33px;
    font-weight: bold;
    text-align: left;
}
.gif{
   vertical-align: top;
    float:left;
    width:15%;
    height:20%;
    margin: 10px 20px;
  
}
.explicacao{
    display: flex;
    background-color: var(--vermelho);
    width:100%;
    
    align-items: center;
    text-align: left;
    font-size:20px;
    
}
.explicacao div{
    width:50%;
    margin:1em;
    height:100vh;
    
}
.explicacao div p{
    line-height: 1.6em;
}
.explicacao div h3{
    font-size:33px;
}
.video{
    width: 50%;
    height: 100vh;
    margin:1em;

    border: none;
}

footer{
    width: 100%;
    background-color:var(--preto);
    text-align:center;
    color: var(--cinza);
    padding:2em 0;
    font-size:12px
}
footer img:hover{
    transform: scale(1.1);
}

@media(max-width:968px){
    
    .main, .conteudo p{
       width: auto;
       margin: 0;
    }
   header nav {
    flex-direction: column;

}

    header ul {
        
         flex-wrap: wrap;
         flex-direction: column;
         width: 100%;
         
    }
header li{
    text-align: center;
    align-items: center;
    padding:10px;
     border-bottom: 1px solid black;
    
}
header ul li a{
    margin:10px 0;
    
    display: block;
   
}
.titulo{
    margin: 0.5em;
    width: auto;
}
.gif{
    display: none;
}
.conteudo h2{
    margin: 1em 0 0 1em;
}
.conteudo p{
    width: auto;
    text-align: justify;
    margin: 1em;
}
.explicacao{
    flex-direction: column;
    height:auto;
}
.explicacao div{
    width: auto;
    text-align:justify;
    height: auto;
    
}
.video{
    width: 100%;
    height: 60vh;
    margin-top:0;
}

}

